
<div class="card mx-4 border-3 border-secondary text-secondary" style="width: 18rem;">
    <img [src]="item?.sprites?.front_default" class="card-img-top" [alt]="item?.name">
    <div class="card-body">
      <h5 class="card-title">Pokemon</h5>
      <p class="card-text">Nome: {{item?.name}}</p>
      <p class="card-text">URL: {{item?.sprites?.back_default}}</p>
    </div>
  </div>
  <div class="card mx-4 border-3 border-secondary text-secondary" style="width: 18rem;">
    <img [src]="item?.sprites?.back_default" class="card-img-top" [alt]="item?.name">
    <div class="card-body">
      <h5 class="card-title">Pokemon</h5>
      <p class="card-text">Nome: {{item?.name}}</p>
      <p class="card-text">URL: {{item?.sprites?.back_default}}</p>
    </div>
  </div>


<!--<router-outlet></router-outlet>-->
