<div class="container">
    <div class="row">
      <div class="col" *ngIf="lista$ | async as lista">
        <table class="table table-striped border border-secondary border-3">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Username</th>
            <th scope="col">
                <a routerLink="../insert" class="btn btn-primary">Nuovo User</a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of lista; let i=index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>
              <a routerLink="../modifica" class="btn btn-outline-primary">Set User</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  