<div class="container">
  <div class="row">
    <div class="col" *ngIf="lista$ | async as lista">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nome</th>
          <th scope="col">Url</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of lista; let i=index">
          <th scope="row">{{i + 1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.url}}</td>
          <td>
            <button type="button" (click)="setElement(item)" class="btn btn-primary">Modifica</button>
          </td>
        </tr>
        </tbody>
      </table>

<!--      <ul class="list-group">-->
<!--        <li (click)="setElement(item)" class="list-group-item" [class.active]="this.select?.name === item.name" *ngFor="let item of lista">-->
<!--          <div class="d-flex justify-content-between" >-->
<!--            <p [style.min-width]="'30%'" class="text-center">{{item.name}}</p>-->
<!--            <p>{{item.url}}</p>-->
<!--            <button class="btn btn-primary " >-->
<!--              set Item-->
<!--&lt;!&ndash;              <img src="assets/"/>&ndash;&gt;-->
<!--            </button>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div *ngIf="lista">{{lista | json}}</div>-->
<!--      <app-item-lista [poke]="item" *ngFor="let item of lista"></app-item-lista>-->
    </div>
  </div>
</div>







