<div class="row border h-100 bg-red">
  <div class="col  border">

  </div>
  <div class="col border">

  </div>
</div>
<div class="row">
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>

<div class="text-center">
  hello word!
</div>
<p class="h1">h1. Bootstrap heading</p>
<p class="h2">h2. Bootstrap heading</p>
<p class="h3">h3. Bootstrap heading</p>
<p class="h4">h4. Bootstrap heading</p>
<p class="h5">h5. Bootstrap heading</p>
<p class="h6">h6. Bootstrap heading</p>

<button class="btn btn-primary">Invia</button>
